<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">About</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <p> Swift Island is an all-inclusive experimental conference happening a month
                    <i>after</i> Apple's WWDC {{ site.edition-year }}.</p>

                <h3 class="section-title">The Pitch</h3>


                <p>You know that feeling you get after WWDC ends, when all you want to do is catch up on all the videos Apple
                    just released? That urgent need to experiment and play with all the new betas, frameworks and APIs. The
                    overwhelming desire to spend hours on all of the above, quickly followed by the sinking realization that
                    you can't - because you have actual work to do.</p>

                <p>
                    <i>Yep, we've all been there and that feeling sucks.</i>
                </p>

                <p>
                    <strong>Our mission is to break the cycle!</strong>
                </p>

                <p>Swift Island is an experimental conference in the broadest sense. In the month following WWDC, we invite
                    you to join us for a hands-on experience with all of Apple’s newly announced API's and Frameworks, in
                    sessions guided by top-notch mentors.</p>

                <figure>
                    <img alt="" class="img-responsive" src="assets/images/seal.jpg">
                </figure>

            </div>
            <!-- /.col-sm-6 -->

            <div class="col-sm-6">

                <h3 class="section-title multiple-title">The Format</h3>

                <p>The format is very simple: 2 days, choose from 4 sessions per day provided by 8 mentors. Everyone peer programs
                    and has fun.</p>

                <h3 class="section-title multiple-title">The Kicker</h3>
                <p>A conference ticket is all inclusive: You will get two days of workshops, three days of lodging in a shared
                    cabin (private rooms) and all the food you need for breakfast, lunch and dinner during your stay. And
                    if you want, a bike.
                    <i>And did we mention it’s on an island?</i>
                </p>

                <p>It's called Texel (pronounced tes-sel) and it’s one of the five Frisian Islands, located in the Wadden Sea,
                    which is a
                    <a href="http://whc.unesco.org/en/list/1314" target="_blank">Unesco World Heritage</a>. In short - it's an island in the Netherlands and it's awesome.</p>

                <h3 class="section-title multiple-title">What to expect?</h3>

                <p>Beyond the experience of being introduced to WWDC material by top-notch mentors on a frikkin' island, you’ll
                    also enjoy:
                    <p>

                        <ul class="list-arrow-right">
                            <li>
                                <b>Seals.</b> Actual real life seals (the fluffy kind, not the military kind)</li>
                            <li>
                                <b>Choose from eight topics</b> covered in workshops in the course of two days.</li>
                            <li>
                                <b>Fun activities</b> the Friday right after. (like visiting the local brewery, the seal shelter
                                and walking on the mudflats of the Wadden)</li>
                        </ul>

            </div>
            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>