    <section id="about" class="section about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <h3 class="section-title">What is this all about?</h3>

                    <p>You know that feeling you get after WWDC ends, when all you want to do is catch up on all the videos Apple just released? That urgent need to experiment and play with all the new betas, frameworks and APIs. The overwhelming desire to spend hours on all of the above, quickly followed by the sinking realization that you can't - because you have actual work to do.</p>

                    <p><i>Yep, we've all been there and that feeling sucks.</i></p>

                    <p><strong>Our mission is to break the cycle!</strong></p>

                    <p>Swift Island is an experimental conference in the broadest sense. In the month following WWDC, we invite you to join us for a hands-on experience with all of Apple’s newly announced API's and Frameworks, in sessions guided by top-notch mentors.</p>

                    <figure>
                        <img alt="" class="img-responsive" src="assets/images/about-us.jpg">
                    </figure>

                </div><!-- /.col-sm-6 -->

                <div class="col-sm-6">

                    <h3 class="section-title multiple-title">The Format.</h3>

                    <p>The format is very simple. 8 mentors, 3 sessions per day, 2 days. Everyone peer programs.</p>

                    <h3 class="section-title multiple-title">What do we offer?</h3>
                    <p>Two days of workshops, two days of lodging in a shared cabin (private rooms) and all the food you need for breakfast, lunch and dinner during your stay. And if you want, a bike. <b>And did we mention it’s on a Island?</b></p>

                    <p>It's called Texel (pronounced tes-sel) and it’s one of the five Frisian Islands, located in the Wadden Sea, which is a <a href="http://whc.unesco.org/en/list/1314" target="_blank">Unesco World Heritage</a>. In short - it's an island in the Netherlands and it's awesome.</p>

                    <h3 class="section-title multiple-title">What to expect?</h3>

                    <p>Beyond the experience of being introduced to WWDC material by top-notch mentors on an frikkin' island, you’ll also enjoy:<p>

                    <ul class="list-arrow-right">
                        <li>Seals. Actual real life seals (the fluffy kind, not the military kind)</li>
                        <li>Eight topics covered in workshops in the course of two days.</li>
                        <li>Fun activities in the weekend right after (like visiting the local brewery, walking from island to island, on white sand beaches, across nature reserves and through quaint Dutch villages)</li>
                    </ul>

                </div><!-- /.col-sm-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>