<section id="convince" class="section convince">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Convince your boss</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <h3 class="section-title">Why?</h3>

                <p>Because bosses need convincing. That why we have this section.</p>

                <p>
                    <strong>We even made a PDF you can print and sign and handover to your boss</strong>
                </p>

            </div>
            <!-- /.col-sm-6 -->

            <div class="col-sm-6">

                <h3 class="section-title multiple-title">How to convince?</h3>

                <p>Did we mention we rented out an actual island in The Netherlands? (Ok, maybe not all of it but a small part).</p>

                <p>It's called Texel (pronounced tes-sel) and it’s one of the five Frisian Islands, located in the Wadden Sea,
                    which is a
                    <a href="http://whc.unesco.org/en/list/1314" target="_blank">Unesco World Heritage</a>. In short - it's an island in the Netherlands and it's awesome.</p>

                <h3 class="section-title multiple-title">Points for convinction</h3>

                <p>Beyond the experience of being introduced to WWDC material by top-notch mentors on an frikkin' island
                    <p>

                        <ul class="list-arrow-right">
                            <li>Point 1</li>
                            <li>Point 2</li>
                            <li>Point 3</li>
                        </ul>

            </div>
            <!-- /.col-sm-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>