    <section id="facts" class="section facts text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <i class="ion-ios-calendar"></i>
                    <h3>July 4 - 5<br/>2018</h3>

                </div>
                <div class="col-sm-3">

                    <i class="ion-ios-location"></i>
                    <h3>Texel<br>Netherlands</h3>

                </div>
                <div class="col-sm-3">

                    <i class="ion-pricetags"></i>
                    <h3>50<br>Tickets</h3>

                </div>
                <div class="col-sm-3">

                    <i class="ion-speakerphone"></i>
                    <h3>8<br>Mentors</h3>

                </div>
            </div><!-- row -->
        </div><!-- container -->
    </section>