<section id="location" class="section location">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Location</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <p>While the island of Texel is pretty remote, getting there is quite easy and takes about 3 hours. From Schiphol
                    Airport you can take a
                    <a href="https://www.ns.nl/en/journeyplanner/#/?vertrek=Schiphol%20Airport&vertrektype=treinstation&aankomst=Den%20Helder&aankomsttype=treinstation&type=vertrek">train to Den Helder</a>, where the
                    <a href="https://www.teso.nl/en/">ferry to Texel</a> departs. On Texel you can reach the venue by minivan service called
                    <a href="https://texelhopper.nl/en/travel-information">Texelhopper</a>.</p>

                <p>Don't like travel planning? Then our “It's all sorted for you” options are for you. We call them Hassle-free™.</p>

                <h3 class="section-title">Hassle-free™ travel</h3>
                <p>When you buy a transport ticket we will arrange it all - You will receive train tickets, ferry tickets, and
                    we'll even arrange the minivan that picks you up and drives you with your luggage to our location. Your
                    own shared personal driver.</p>
                <p>Did we mention we have you covered for a round trip? Even your way back is Hassle-free™.</p>

                <h3 class="section-title multiple-title">Accomodation</h3>

                <p>After extensive research and location scouting on the island itself we found the perfect spot to stay during
                    our conference.
                    <a href="https://www.prins-hendrik.nl/en/">Prins Hendrik Hotel and Bungalows</a>. (Also check out the photos below)
                    <p>
            </div>

            <div class="col-sm-6">
                <h3 class="section-title multiple-title">Getting around</h3>

                <p>Like proper Dutchmen, the best way to get around on the island is by bike. We really recommend you add this
                    to your ticket, because other means of transportation are sparse. Part of the Hassle-free™ deal is we
                    make sure the bike is ready for you upon arrival. Do it, it’s fun!</p>

                <h3 class="section-title multiple-title">Partners are welcome!</h3>

                <p>You love your significant other, and so do we. They are more than welcome to join us! While you are having
                    fun at the conference, getting all the new WWDC information in your brain, they can explore the island.
                    There’s a special
                    <i>Significant Other Ticket</i> for them, and we advise you to get them a bike as well.</p>
                <p>Do you also want to bring your kids? We can probably arrange that as well! Please
                    <a href="mailto:info@swiftisland.nl">contact us</a> so we can figure something out for you.</p>
            </div>
            <!-- /.col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-3">
                <h3 class="section-title">Swift Island Location</h3>
                <address>
                    <p>
                        <a href="https://www.prins-hendrik.nl/en/">Prins Hendrik Texel</a>
                        <br>Stuifweg 13
                        <br>1794 HA Oosterend
                        <br> Email:
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p>
                </address>
            </div>
            <div class="col-sm-9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d153263.20648856516!2d4.757004624552143!3d53.114903679931224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47cf3200fd5bd657%3A0xddef03de5d7239f4!2sPrins+Hendrik+Texel!5e0!3m2!1sen!2snl!4v1521396238096"
                    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>