<section id="facts" class="section mailing-list text-left">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Stay up-to-date!</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p>Stay up to date with new speaker announcements and ticket releases. Join our mailing list!</p>
            </div>

            <div class="col-sm-6">
                <form class="form-control">
                  <div class="form-group">
                    <input id="register-name"
                          type="text"
                          placeholder="Name"
                          class="register-name input-text"
                          autocomplete="off">
                    <input id="register-email"
                          type="text"
                          placeholder="Email"
                          class="register-email input-text"
                          autocomplete="off"
                          autocapitalize="off">
                    <input type="submit" class="tito-submit" value="Join!" />
                  </div>
                </form>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>