<section id="facts" class="section mailing-list text-left">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="section-title">Stay up-to-date!</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p>We are finalising the last things before we can open the ticket sales. <br>Fill in your email and join our mailinglist to stay up to date with the latest news, speaker announcements and when ticket sales will start!</p>
            </div>

            <div class="col-sm-6">
                <form class="register-interest-form">
                  <div class="form-group">
                    <input id="register-name"
                          type="text"
                          placeholder="Name"
                          class="register-name input-text"
                          autocomplete="off">
                    <input id="register-email"
                          type="text"
                          placeholder="Email"
                          class="register-email input-text"
                          autocomplete="off"
                          autocapitalize="off">
                    <input type="submit" class="tito-submit" value="Sign up" />
                  </div>
                </form>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</section>