<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <!-- logo -->
            <div class="site-branding">
                <a class="logo" href="{{ site.url }}/index.html">

                    <!-- logo image  -->
                    <img src="{{ site.url }}/assets/images/logo-lines.svg" width="42" height="42" alt="Swift Island Logo">
                    <span class="logo-text logo-swift">Swift</span>
                    <span class="logo-text logo-island">Island</span>
                </a>
            </div>            
        </div>
        <!-- /.navbar-header -->
    </div>
    <!-- /.container -->
</nav>