<section id="partner" class="section partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Community Sponsors</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="partner-box partner-box-1" href="http://ios-goodies.com" target="_blank"></a>
                <h4>iOS Goodies <a href="https://swift.amsterdam" target="_blank"><i class="ion-ios-world-outline"></i></a></h4>
                <p>iOS Goodies is a weekly open-source newsletter for iOS developers. <br/>They cover everthing from opensource libraries to must read technical articles, posts about business, design and UX/UI.</p>
            </div>
            <div class="col-md-6">
                <a class="partner-box partner-box-2" href="https://swift.amsterdam" target="_blank"></a>
                <h4>Swift Usergroup Netherlands <a href="https://swift.amsterdam" target="_blank"><i class="ion-ios-world-outline"></i></a></h4>
                    
                <p>The Dutch Swift Usergroup Netherlands - They ❤️ all things Swift, Cocoa and other nerdy stuff.
They organise meetups with an emphasis on the Dutch Swift community. They exchange ideas, share knowledge and solve problems together.</p>
            </div>
        </div>
    </div>
</section>