<section id="photos" class="section photos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Photos</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="grid-item grid-item-sm-3">
                        <a data-fancybox="gallery" href="assets/images/photos/photos-1.jpg"><img alt="" class="img-responsive center-block" src="assets/images/photos/photos-1.jpg" width="200"></a>
                    </li>
                    <li class="grid-item grid-item-sm-3">
                        <a data-fancybox="gallery" href="assets/images/photos/photos-2.jpg"><img alt="" class="img-responsive center-block" src="assets/images/photos/photos-2.jpg" width="200"></a>
                    </li>
                    <li class="grid-item grid-item-sm-3">
                        <a data-fancybox="gallery" href="assets/images/photos/photos-3.jpg"><img alt="" class="img-responsive center-block" src="assets/images/photos/photos-3.jpg" width="200"></a>
                    </li>
                    <li class="grid-item grid-item-sm-3">
                        <a data-fancybox="gallery" href="assets/images/photos/photos-4.jpg"><img alt="" class="img-responsive center-block" src="assets/images/photos/photos-4.jpg" width="200"></a>
                    </li>
                    <li class="grid-item grid-item-sm-3">
                        <a data-fancybox="gallery" href="assets/images/photos/photos-5.jpg"><img alt="" class="img-responsive center-block" src="assets/images/photos/photos-5.jpg" width="200"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>