<section id="photos" class="section photos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">Photos</h1>
            </div>
        </div>
        
        <div class="row">
            {% for object in site.gallery %}
            <h2 class="section-title">{{ object.title }}</h2>
            <div class="col-md-12">
                <ul>
                    {% for image in object.conference-images %}
                    <li class="grid-item grid-item-sm-3">
                        <a data-fancybox="gallery" href="{{ image.image }}.jpg">
                            <img alt="" class="img-responsive center-block" src="{{ image.image }}_small.jpg" width="400" height="100">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</section>