<section id="previousmentors" class="section previousmentors">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Previous Mentors</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p>We've had the best in class mentors teach at Swift Island. Take a look at the lineup from previous years.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">2018</h2>
            </div>
        </div>
        <div class="row">
            {% assign mentors = site.mentors %}
            {% for mentor in mentors %} 
            {% if mentor.year == 2018 %}
            <div class="col-md-3 col-sm-6">
                <div class="speaker">
                    <figure>
                        <img alt="{{ mentor.name }}" class="img-responsive center-block" src="{{ mentor.image }}">
                    </figure>
                    <h4 style="text-align: center;">{{ mentor.name }}
                    <ul class="social-block">
                        {% if mentor.twitter != '' %}
                        <li>
                            <a href="https://www.twitter.com/{{ mentor.twitter }}" target="_blank">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        {% endif %} {% if mentor.linkedin != '' %}
                        <li>
                            <a href="https://www.linkedin.com/in/{{ mentor.linkedin }}" target="_blank">
                                <i class="ion-social-linkedin-outline"></i>
                            </a>
                        </li>
                        {% endif %} {% if mentor.website != '' %}
                        <li>
                            <a href="{{ mentor.website }}" target="_blank">
                                <i class="ion-ios-world-outline"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </h4>
                </div>
                <!-- /.speaker -->
            </div>
            {% endif %} 
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">2019</h2>
            </div>
        </div>
        <div class="row">
            {% assign mentors = site.mentors %}
            {% for mentor in mentors %} 
            {% if mentor.year == 2019 %}
            <div class="col-md-3 col-sm-6">
                <div class="speaker">
                    <figure>
                        <img alt="{{ mentor.name }}" class="img-responsive center-block" src="{{ mentor.image }}">
                    </figure>
                    <h4 style="text-align: center;">{{ mentor.name }}
                    <ul class="social-block">
                        {% if mentor.twitter != '' %}
                        <li>
                            <a href="https://www.twitter.com/{{ mentor.twitter }}" target="_blank">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        {% endif %} {% if mentor.linkedin != '' %}
                        <li>
                            <a href="https://www.linkedin.com/in/{{ mentor.linkedin }}" target="_blank">
                                <i class="ion-social-linkedin-outline"></i>
                            </a>
                        </li>
                        {% endif %} {% if mentor.website != '' %}
                        <li>
                            <a href="{{ mentor.website }}" target="_blank">
                                <i class="ion-ios-world-outline"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </h4>
                </div>
                <!-- /.speaker -->
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</section>