<section id="sponsor" class="section sponsors">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Software & Book Sponsors</h3>
                <p>Our pubquiz is is sponsored by products we love. The creators of these great products were so generous to
                    provide software licenses and books as prizes.</p>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                {% for sponsor in site.sponsors %}
                <div class="col-md-2 col-sm-3 col-xs-6 sponsor-icon">
                    <a href="{{ sponsor.link }}" target="_blank">
                        <img src="assets/images/sponsors/{% if sponsor.icon %}{{sponsor.icon}}{% else %}{{ sponsor.title | downcase }}.png{% endif %}"
                        />
                    </a>
                    <h4>{{sponsor.title}}</h4>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            {% for sponsor in site.content_sponsors %}
            <div class="col-md-4">
                <h4>{{ sponsor.title }}</h4>
                <a href="{{ sponsor.link }}" target="_blank">
                    <img src="assets/images/sponsors/{% if sponsor.icon %}{{sponsor.icon}}{% else %}{{ sponsor.title | downcase | replace: '', '_' }}.png{% endif %}" width="100%" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
