<section id="tickets" class="section tickets">
    <div class="container">
    	<div class="row">
            <div class="col-md-12">
				<h3 class="section-title multiple-title">Tickets</h3>
                <p>You might be thinking; What?!? €750,- for a ticket? That’s waaaay expensive! (if not scroll down to buy your ticket).</p>
				
				<p>While it’s only half the price of WWDC, it might make more sense if you see what’s included in that price:
				<ul class="list-arrow-right">
				    <li>Two days of awesome workshops from the best mentors we could find. </li>
				    <li>Three nights of accommodation (including breakfast) right on the conference site.</li>
				    <li>Two tasty dinners, together with all attendees and speakers.</li>
				</ul></p>

				<p>And on top of that, you get to spend time in Texels beautiful nature. And be on an actual Island. When do you do that? It’s so we remote, we had to get you a bungalow. And did we mention seals? Cute. Fluffy. Seals. (the fluffy kind, not the military kind)</p>

				<p>Compare this WWDC. I bet they don’t offer you seals.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Buy Tickets</h3>
            </div>
        </div>
        <tito-widget event="swiftisland/2018"></tito-widget>
    </div>
</section>