<section id="tickets" class="section tickets">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Tickets</h2>

                <p>While our ticket price is only a little more than half the price of WWDC, much more is included:
                    <ul class="list-arrow-right">
                        <li><b>Two days of awesome workshops</b> from the best mentors we could find.</li>
                        <li><b>Three nights of accommodation</b> (including breakfast) right on the conference site.</li>
                        <li><b>Two tasty dinners</b>, together with all attendees and speakers.</li>
                        <li><b>A free bike</b> for everyone, to use for the duration of the conference including the social day on friday.</li>
                    </ul>
                </p>

                <p><b><i>The travel to Texel takes a while. The last Hassle Free departure from Schiphol is at 18:00. We advise you to have your flight arrive at 17:00 the latest.</i></b></p>

                <p>And on top of that, you get to spend time in Texels beautiful nature. And be on an actual island. When do
                    you do that? It is so we remote, we had to get you a bungalow. And did we mention seals? Cute. Fluffy.
                    Seals.</p>

                <p>Compare this WWDC. I bet they don’t offer you seals.</p>
            </div>
        </div>
        <tito-widget event="swiftisland/2019"></tito-widget>
    </div>
</section>