    <section id="travel" class="section travel">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h2 class="section-title">Travel and Accomodation</h2></div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">

                    <p>For us the biggest hassle for when it comes to conferences is traveling and figuring out what type of transport to take where, figuring out local travel sites in unsupported languages. You know. Lots. Of. Hassle.</p>

					<p>That’s why we have the “It's all sorted for you” options. Hassle-free™</p>

					<h3 class="section-title">Hassle-free™</h3>
					<p>When you buy a transport ticket you get it all - from Amsterdam Airport to Den Helder (that’s the place where the ferry takes you to ‘our Island’). Including a boat ticket. Including a minivan that picks you up and drives you with your luggage to our location. Your own shared personal driver.</p>
					<p> Did we mention we have you covered for a round trip? Even your way back is Hassle-free™.</p>

					<h3 class="section-title multiple-title">Accomodation</h3>

                    <p>After extensive research and location scouting on the Island itself we found the perfect spot to stay during our conference. Prins Hendrik Hotel and Bungalows. (Also check out the photos below)<p>
                </div>

                <div class="col-sm-6">
                	<h3 class="section-title multiple-title">Getting around</h3>

                    <p>Like proper dutchmen, the best way to get around on the island is by bike. We really recommend you add this to your ticket, because other means of transportation are sparse. Part of the Hassle-free™ deal is we make sure the bike is ready for you upon arrival. Do it, it’s fun!</p>

                    <p>It's called Texel (pronounced tes-sel) and it’s one of the five Frisian Islands, located in the Wadden Sea, which is a <a href="http://whc.unesco.org/en/list/1314" target="_blank">Unesco World Heritage</a>. In short - it's an island in the Netherlands and it's awesome.</p>

                    <h3 class="section-title multiple-title">Partners are welcome!</h3>

                    <p>You love your significant other, and so do we. They are more than welcome to join us! While you are having fun at the conference, getting all the new WWDC information in your brain, they can explore the island. There’s a special <i>Significant Other Ticket</i> for them, and we advise you to get them a bike as well.</p>
					<p>Do you want to also bring your kids? We can probably arrange that as well! Please contact us so we can figure something out for you.</p>

                    


                </div><!-- /.col-sm-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>