<section id="travel" class="section travel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Travel Information</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3 class="section-title">Hassle-free™ travel</h3>
                <p>The easiest way to get from either Schiphol or Amsterdam to Texel is with our <a href="#tickets">Hassle-free™ ticket</a>. We will arrange it all for you - we'll pick you up with a touringcar at Schiphol and drop you off at our venue. Just get on and relax 😎</p>
                <p>And did we mention we have you covered for a round trip? Even your way back is Hassle-free™.</p>
                <h3 class="section-title multiple-title">Hassle-free™ bus schedule</h3>
                <p>
                    <table>
                        <tr><th>July 2nd</th></tr>
                        <tr><td class="time">17:30</td><td>Departure from Schiphol</td></tr>
                        <tr><td class="time">20:20</td><td>Arrival at Prins Hendrik</td></tr>
                        <tr><th>July 5th morning bus</th></tr>
                        <tr><td class="time">8:30</td><td>Departure from Prins Hendrik</td></tr>
                        <tr><td class="time">11:00</td><td>Arrival at Schiphol</td></tr>
                        <tr><th>July 5th afternoon bus</th></tr>
                        <tr><td class="time">14:30</td><td>Departure from Prins Hendrik</td></tr>
                        <tr><td class="time">17:00</td><td>Arrival at Schiphol</td></tr>
                    </table>
                </p>
                <p>If your flight happens to arrive in the morning of the 2nd of July, you have two options: explore Amsterdam or wait at Schiphol. Right underneath the main hall at Schiphol is a train station, and trains towards Amsterdam Central depart regularly and only take 15 minutes. Be sure to be back in time though, because to be in time for the ferry to Texel, we can not let the bus wait for you.</p>
                <p>Not that adventurous or have some work to do? We've got you covered too. We have arranged with the Sheraton hotel right next to Schiphol, that you can wait and relax in their lounge. There is wifi, power outlets, and your first drink is on us.</p>

                </div>
                <div class="col-sm-6">

                <h3 class="section-title multiple-title">Arranging your own travel</h3>
                <p>If you have chosen the adventurous path to not get our Hassle-free™ ticket, here's the way plan your trip
                    to the venue. From Amsterdam or Schiphol you can take a train to <strong>Den Helder</strong>, where you can take a bus to the harbour where the boat to Texel departs. On Texel you can use a minivan service to get to our venue, <a href="#location">Prins Hendrik</a>.
                </p>

                <p>You can plan most of the trip (train, bus and boat) using the links below. <strong><i>(The travel planner does not allow us to plan so far ahead. Currently we can only plan until june. Check the link reguarly for updates) </i></strong>
                    <ul>
                        <li>
                            <strong>Amsterdam Central Station → Texel</strong>
                            <br/> First train with matching connections leaves at
                            <strong>5:17</strong>
                            <br/> Last train with matching connections leaves at
                            <strong>19.39</strong>
                            <br/> Travel time: ~ 2 hours and 30 minutes (depending on connections)
                            <br/>
                            <a href="https://9292.nl/en/journeyadvice/station-amsterdam-centraal/den-hoorn-texel_halte-veer-texel/departure/2019-06-02T0517"
                                target="_blank">Route planner</a>
                        </li>

                        <li>
                            <strong>Schiphol → Texel</strong>
                            <br/> First train with matching connections leaves at
                            <strong>6.31</strong>
                            <br/> Last train with matching connections leaves at
                            <strong>19.31</strong>
                            <br/> Travel time: ~ 2 hours and 30 minutes (depending on connections)
                            <br/>
                            <a href="https://9292.nl/en/journeyadvice/station-schiphol-airport/den-hoorn-texel_halte-veer-texel/departure/2019-06-03T0631"
                                target="_blank">Route planner</a>
                        </li>
                    </ul>
                </p>

                <h3 class="section-title multiple-title">Trains (part 1)</h3>
                <p>There's a trainstation right underneath Schiphol airport, so if you follow the signage after you go through
                    the baggage hall you should be able to find it easily.
                    <p>The first train you need to take goes in the direction of Amsterdam and usually departs from tracks 1
                        <em>or</em> 2. Which one is only announced a short time before, but those are on opposite sides of the
                        platform.
                    </p>
                    <p>It's only a 10 minute trip to Amsterdam Sloterdijk where you have to change to the train to Den Helder.
                        Usually you will
                        <em>arrive at platform 12</em> on the 2nd floor, and have to go down two flights of stairs to
                        <em>depart at platform 4</em>. Follow the signage.</p>
                    <p>When you are in the train to Den Helder, it is a great time to start arranging your
                        <a href="https://www.texelhopper.nl/">Texelhopper</a> trip from <strong>'Pontweg Veerhaven'</strong> to <strong>'<a href="#location">Prins Hendrik</a>'</strong>, which you will have to book one
                        hour in advance.</p>
                <h3 class="section-title multiple-title">Bus (part 2)</h3>
                <p>Once you get to Den Helder train station, you can find the bus platforms on the right hand side of the station.
                    The bus to the harbour is line 33, which departs from platform E and will be marked on the sign at the
                    bus stop and on the front of the bus itself. For travellers to Texel,
                    <strong>this bus is free</strong>.
                    <br/>
                    <br/>
                    <video controls src="assets/images/denhelder.mp4" poster="assets/images/denhelder.jpg" width="100%"></video>
                    Directions to bus line 33 at Den Helder station.
                </p>
                <h3 class="section-title multiple-title ">Ferry (part 3)</h3>
                <p>From the bus stop at the harbour it's only a short walk to the Ferry towards Texel, the boattrip lasts about
                    20 minutes.</p>
                <h3 class="section-title multiple-title ">Texelhopper minivan (part 4)</h3>
                <p>On the island you can use the
                    <a href="https://texelhopper.nl/en/travel-information ">Texelhopper</a> minibus service to get to the venue.
                    <strong>You have to order a Texelhopper at least one hour in advance</strong>, so be sure to read the information
                    on their website. Plan your trip from trip from 'Pontweg Veerhaven', which is where the ferry arrives
                    to '<a href="#location">Prins Hendrik</a>', which is our conference venue.
                    <br/>
                    <br/>
                    <img src="assets/images/photos/texelhopper.jpg " width="100% " /><i>Texelhopper bus stop</i>
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
                <h2 class="section-title ">Getting tickets</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-6 ">
                <p>When travelling in the Netherlands you can always get a ticket at any station at a ticket machine. These
                    machines either take cash in euro or debit cards with the maestro logo (without extra cost). Paying with
                    credit cards is possible (just not everywhere) but please note that the transaction costs can be high.</p>

                <h3 class="section-title multiple-title ">Cash money</h3>
                <p>When traveling in the Netherlands we advise to have some cash in you wallet because not every shop accepts
                    debit/credit cards.
                </p>

                <h3 class="section-title multiple-title ">Train from Amsterdam / Schiphol</h3>
                <p>Trains are operated by NS (Nederlandse Spoorwegen). You can get you train ticket the
                    <a href="https://www.ns.nl/producten/en/losse-kaartjes-toeslagen ">NS website</a>, or at the ticket vending machines at the station.</p>
            </div>
            <div class="col-sm-6 ">
                <h3 class="section-title multiple-title ">Bus & Texelhopper</h3>
                <p>From Den Helder train station to the harbour it's a short bus ride with Connexxion line 33. This bus is free
                    for travellers to Texel. On the island you can use the
                    <a href="https://texelhopper.nl/en/travel-information ">Texelhopper</a> minibus to get to the venue. A ticket for Texelhopper can be bought online, or at the
                    ticket booth in Den Helder train station. You have to order a Texelhopper at least one hour in advance,
                    so be sure to read the information on their website.
                </p>

                <h3 class="section-title multiple-title ">Ferry Tickets</h3>
                <p>You can get your ferry ticket from the
                    <a href="https://www.teso.nl/en/tickets-english " target="_blank ">TESO website</a>. All tickets are return tickets and can be used at any date.</p>

            </div>
        </div>
    </div>
</section>
