<section id="travel" class="section travel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title">Travel Information</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3 class="section-title">Hassle-free™ travel</h3>
                <p>The easiest way to get from either Schiphol or Amsterdam to Texel is the Hassle-free™ ticket. We will arrange it all for you - You will receive train tickets, ferry tickets, and we'll even arrange the minivan that picks you up and drives you with your luggage to our location. Your own shared personal driver.</p>
                <p>Did we mention we have you covered for a round trip? Even your way back is Hassle-free™.</p>

                <h3 class="section-title multiple-title">Getting tickets</h3>
                <p>When travelling in the Netherlands you can always get a ticket any station. These machines either take cash in euro or debit cards with the maestro logo (And no extra cost is incurred). Paying with credit cards is possible (just not everywhere) but please note that the transaction costs are very high.</p>

                <h4 class="section-title multiple-title">Cash money</h4>
                <p>When traveling in the Netherlands we advise to have some cash in you wallet because not every shop accepts debit/credit cards.</p>

                <h4 class="section-title multiple-title">Amsterdam / Schiphol</h4>
                <p>You can get you train ticket from Amsterdam or Schiphol from the NS website.</p>

                <h4 class="section-title multiple-title">Ferry Tickets</h4>
                <p>You can get your ferry ticket(s) from the <a href="https://www.teso.nl/en/tickets-english" target="_blank">TESO website</a>. All tickets are return tickets. Tickets are also without a date which makes them perfect.</p>

                
            </div>
            <div class="col-sm-6">
                <h3 class="section-title multiple-title">Traveling by train (part 1)</h3>
                <p>If you have not chosen our Hassle-free™ ticket, there is also other ways to get to our venue. 
                    When you arrive at Schiphol or Amsterdam you take the train to <strong>Den Helder</strong>, from there you have to take the bus and after that walk a little bit to get to the boat.
                </p>
                <p>
                    <ul>
                        <li><strong>Amsterdam Central Station → Texel</strong><br/>
                        First train with matching connections leaves at <strong>6.39</strong><br/>
                        Last train with matching connections leaves at <strong>19.39</strong><br/>
                        Travel time: ~ 2 hours and 10 minutes<br/>
                        <a href="https://9292.nl/en/journeyadvice/station-amsterdam-centraal/den-hoorn-texel_halte-veer-texel/departure/2018-07-03T0639" target="_blank">Route planner</a>
                        </li>
                        
                        <li><strong>Schiphol → Texel</strong><br/>
                        First train with matching connections leaves at <strong>6.31</strong><br/>
                        Last train with matching connections leaves at <strong>19.31</strong><br/>
                        Travel time: ~ 2 hours and 20 minutes<br/>
                        <a href="https://9292.nl/en/journeyadvice/station-schiphol-airport/den-hoorn-texel_halte-veer-texel/departure/2018-07-03T0631" target="_blank">Route planner</a>
                        </li>
                    </ul>
                </p>
                <h3 class="section-title multiple-title">Traveling by ferry (part 2)</h3>
                <p>So now you are on the ferry towards Texel, the trip lasts about 20 minutes. Once you arrive on the island there will be a bus waiting. This is called the Texel Express.</p>
            </div>
        </div>
    </div>
</section>