{% include head.html %}

<body data-spy="scroll" data-target="#site-nav">
	
	{% include navigation_app.html %}
	
	{{ content }} 
	{% include footer.html %}

	<!-- script -->
	<script src="{{ site.url }}/assets/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{{ site.url }}/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{{ site.url }}/assets/bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
	<script src="{{ site.url }}/assets/js/main.js"></script>
</body>

</html>