{% include head.html %}

	<body data-spy="scroll" data-target="#site-nav">

	{% include navigation.html %} {% include site-header.html %} {{ content }} {% include footer.html %}
		
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/main.js"></script>
		
		<!-- 1. Add latest jQuery and fancyBox files -->
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
		<script type="text/javascript">
			$.fancybox.defaults.buttons = ["close", "download"];
			$("[data-fancybox]").fancybox({
				animationEffect : "fade"
			});
		</script>
	</body>

</html>